# Build output
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet
*.nupkg
*.snupkg
[Pp]ackages/
project.lock.json
artifacts/

# Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
*.rsuser

# JetBrains Rider
.idea/
*.sln.iml

# Test results
TestResults/
coverage.json
coverage.*.json
coverage.*.xml
coverage.*.info

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Temp
*.tmp
*.bak
*.swp
